<div class="page-wrapper">
  <h1>Sign up</h1>

  <form
    class="form"
    [formGroup]="signUpForm"
    (ngSubmit)="createAccount()">
    <mat-form-field appearance="outline">
      <mat-label>Display name</mat-label>
      <input
        matInput
        placeholder="John Doe"
        [formControlName]="'displayName'">
      <mat-error [appErrorForControl]="displayName"></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="john.doe"
        [formControlName]="'username'"
        [errorStateMatcher]="dirtyErrorStateMatcher">
<!--      @if (username.touched && username.dirty && username.value && username.valid) {-->
<!--        <mat-hint class="success">Username is available</mat-hint>-->
<!--      } @else {-->
<!--        <mat-hint>Another way you can log in</mat-hint>-->
<!--      }-->

<!--      <mat-hint *appHintForControl="username;-->
<!--            defaultMessage: 'Another way you can log in';-->
<!--            successMessage: 'Username is available'"></mat-hint>-->

<!--      @if (username.invalid && username.dirty) {-->
<!--        <mat-error>Hueta</mat-error>-->
<!--      }-->

<!--      <mat-error *appErrorForControl="email"></mat-error>-->



      <mat-hint [appHintForControl]="username"
                defaultMessage="Another way you can log in"
                successMessage="Username is available"
      ></mat-hint>
      <mat-error [appErrorForControl]="username"
                 [messages]="usernameErrorMessages"
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="john.doe@gmail.com"
        [formControlName]="'email'"
        required>
      <mat-hint [appHintForControl]="email"
                successMessage="Email is available"
      ></mat-hint>
      <mat-error [appErrorForControl]="email"></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="!showPassword() ? 'password' : 'text'"
        [formControlName]="'password'"
        required>
      <button type="button" mat-icon-button matSuffix (click)="toggleShowPassword()">
        <mat-icon>{{ !showPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error [appErrorForControl]="password"></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        [type]="!showPassword() ? 'password' : 'text'"
        [formControlName]="'passwordConfirmation'"
        required>
      <button type="button" mat-icon-button matSuffix (click)="toggleShowPassword()">
        <mat-icon>{{ !showPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error [appErrorForControl]="passwordConfirmation"></mat-error>
    </mat-form-field>

    <p class="font-bold text-red-400 {{ !creatingAccountFailed() ? 'hidden' : '' }}">
      Something went wrong. Try again later.
    </p>

    <button mat-flat-button [disabled]="creatingAccount()" color="primary">
      {{ !creatingAccount() ? 'Create account' : 'Creating account...' }}
    </button>
  </form>
</div>
